<header class="header">
  <img routerLink="/" src="/assets/best-movies-logo.png" alt="" />
  <div class="auth-btns">
    <button class="btn">Log In</button>
    <button class="btn">Sign In</button>
  </div>
</header>

<!-- <header>
    <div class="mini-navbar-wrap">
      <div class="logo-wrap">
        <p class="logo"><span class="logo">SoftUni Forum</span></p>
      </div>
  
      <div class="mini-navbar">

        <ul>
          <li>
            <a routerLink="/auth/login">Login</a>
          </li>
          <li>
            <a routerLink="/auth/register">Register</a>
          </li>
        </ul> -->

<!-- <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>
  
        <ng-template #loggedOutTemplate>
          <ul>
            <li>
              <a routerLink="/auth/login">Login</a>
            </li>
            <li>
              <a routerLink="/auth/register">Register</a>
            </li>
          </ul>
        </ng-template>
  
        <ng-template #loggedInTemplate>
          <ul>
            <li>
              <a routerLink="/auth/profile">{{ user?.username }}'s profile</a>
            </li>
            <li>
              <a routerLink="/auth/logout">Logout</a>
            </li>
          </ul>
        </ng-template> -->
<!--   
      </div>
  
    </div>
    <nav>
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/movies/all">Movies</a>
        </li>
        <li>
          <a routerLink="/movies/new">New Movie</a>
        </li>
      </ul>
    </nav>
  </header>
   -->
