<header class="header">
  <img id="logo" routerLink="/" src="/assets/best-movies-logo.png" alt="" />

  <div class="mini-navbar">
    <ng-container *ngTemplateOutlet="isLoggedIn ? loggedInTemplate : loggedOutTemplate"></ng-container>

    <ng-template #loggedOutTemplate>
      <a class="btn-new-movie" role="button" routerLink="/movies/saved">Saved movies</a>
      <a class="btn" routerLink="/auth/login">Log In</a>
      <a class="btn" routerLink="/auth/register">Sign In</a>
    </ng-template>

    <ng-template #loggedInTemplate>
      <a class="btn-new-movie" role="button" routerLink="/movies/new">Add movie</a>
      <a class="btn-new-movie" role="button" routerLink="/movies/saved">Saved movies</a>
      <a class="btn" routerLink="/auth/logout">Logout</a>
      <i *ngIf="user?.roles =='user'" routerLink="/auth/profile" class="fas fa-user-circle user"></i>
      <i *ngIf="user?.roles =='admin'" routerLink="/admin" class="fas fa-user-circle user"></i>
    </ng-template>
  </div>

</header>