.movies-page-ctr {
  max-width: 1760px;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

// list option container
.list-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
  padding: 0 3rem;
}

.list-options .genres-dropdown {
  width: 250px;
}

.list-options .view-select i {
  cursor: pointer;
}

.list-options .view-select.my-class {
    color: var(--clr-primary);
}

// cards template
.cards {
  padding-left: 3rem;
  padding-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.cards .cards-item {
    width: 270px;
    height: 400px;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid rgb(169, 169, 169);
    
    cursor: pointer;
    transform: scale(1);
    bottom: 0;
    box-shadow: none;
    transition: all 300ms ease-in-out;
    
}

.cards .cards-item:hover {
    transform: scale(1.03);
    bottom: 0.125rem;
    box-shadow: var(--white-shadow-xl);
}

.cards .cards-item img {
    width: 100%;
    height: 100%;
}


// list template
.list {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 50px;
}

.list .list-item {
  display: flex;
  justify-content: space-between;
  text-align: center;
  color: var(--clr-footer-text);
  padding: 0 1rem;
  border-radius: 10px;
  background-color: black;
  cursor: pointer;
  border: 0.5px solid var(--clr-footer-text);
  transition: all 300ms ease-in-out;
}
.list .list-item:hover {
  border: 0.5px solid var(--clr-primary);
  color: var(--clr-primary);
}

.list .img-ctr {
  width: 60px;
}

.list .title-ctr {
  display: flex;
  align-items: center;
}

.list .imdb-rating-ctr {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
}

.list .imdb-rating-ctr i {
  color: var(--clr-star);
}

.list, .cards {
  margin-bottom: 3rem;
}