@import url(https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css);

.ctr {
    margin-top: 4rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 3rem;
    background-color: white;
    color: black;
    border-radius: 7px;
    overflow: hidden;
    font-size: 0.7rem;
}

.title-ctr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
}

.title-ctr i {
    color: black;
    font-size: 1.2rem;
}

.title-header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0;
}

.btn-delete, .btn-preview {
    padding: 8px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-preview {
    background-color: green;
    color: white;
}

.btn-delete {
    background-color: red;
    color: white;
}

th {
    text-align: center;
}

tbody {
    font-size: 1rem;
}

tbody td, tbody th {
    vertical-align: middle;
    text-align: center;
}