<div class="movies-page-ctr">
    <div *ngIf="errorFetchingData">Error loading movies</div>

    <div class="list-options">
        <div class="genres-dropdown">
            <ng-multiselect-dropdown placeholder="Select genre" [settings]="dropdownSettings" [data]="genres" (onSelect)="selectGenreHandler($event)" (onDeSelect)="clearGenreFilter()">
            </ng-multiselect-dropdown>
        </div>
        <div class="view-select" [ngClass]="{ 'my-class': isListView }">
            <i (click)="toggleListView()" class="fas fa-list"></i>
        </div>
    </div>

    <ng-container *ngTemplateOutlet="isListView ? listView : cardsView"></ng-container>

    <ng-template #cardsView>
        <div class="cards">
            <div class="cards-item" [routerLink]="['/movies/details/', movie._id]" *ngFor="let movie of filteredMovies">
                <div class="img-ctr">
                    <img src="{{ movie.poster }}" alt="" />
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #listView>
        <div class="list">
            <div class="list-item" [routerLink]="['/movies/details/', movie._id]" *ngFor="let movie of filteredMovies">
                <div class="img-ctr">
                    <img src="{{ movie.poster }}" alt="" />
                </div>
                <div class="title-ctr">
                    <p>{{movie.title}}</p>
                </div>
                <div class="imdb-rating-ctr">
                    <p>IMDB rating: </p>
                    <i class="fas fa-star"></i>
                    <p>{{movie.imdbRating}}/10</p>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<!-- <div class="list">
    <div class="list-item" [routerLink]="['/movies/details/', movie._id]" *ngFor="let movie of pageOfItems" >
        <div class="img-ctr">
            <img src={{movie.poster}} alt="">
        </div>
    </div>
</div>

<div class="pagination">
        <ul role="list" *ngIf="pager?.pages && pager?.pages?.length">
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
                <a (click)="setPage(1)" class="page-link">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
                <a (click)="setPage(pager.currentPage - 1)" class="page-link">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}"
                class="page-item number-item">
                <a (click)="setPage(page)" class="page-link">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
                <a (click)="setPage(pager.currentPage + 1)" class="page-link">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
                <a (click)="setPage(pager.totalPages)" class="page-link">Last</a>
            </li>
        </ul>
    </div> -->
