.header #logo {
    border-radius: 4px;
    cursor: pointer;
    height: 2rem;
}

.header .mini-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}
.header .mini-navbar i.user {
  font-size: 2rem;
  margin-left: 0.5rem;
  cursor: pointer;
  color: var(--clr-primary);
}
.header .mini-navbar .btn {
    text-decoration: none;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 0.5rem 0.5rem 0.5rem var(--p-x); 
    z-index: 1000;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img {
    height: 40px; 
}

.add-btn-ctr {
  display: flex;
  gap: 10px;
  margin-right: 50px;
}

.btn.btn-add-save {
  background-color: var(--clr-white);
  border: 2px solid var(--clr-white);
  color: var(--clr-primary);
}

.btn.btn-add-save:hover {
  background-color: var(--clr-primary);
  border: 2px solid var(--clr-primary);
  color: var(--clr-white);
}