#footer {
  color: var(--clr-white);
  background-color: rgb(18, 16, 16);
  height: 200px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer .footer-title {
  color: var(--clr-footer-text);
  font-size: 1rem;
  margin-bottom: 20px;
}

#footer #icons {
  display: flex;
  gap: 30px;
  margin-bottom: 20px;
  font-size: 18px;
  color: var(--clr-footer-text);
}
#footer #icons i{
  cursor: pointer;
}

#footer a {
  color: var(--clr-footer-text);
  font-size: 22px;
  width: 150px;
  padding: 5px 10px;
  background-color: var(--clr-grey);
  border-radius: 5px;
  text-align: center;
}
#footer .links a:first-child {
  margin-right: 10px;
}
#footer a:hover {
  text-decoration: none;
  cursor: pointer;
  color: var(--clr-grey);
  background-color: var(--clr-footer-text);
}
