<footer id="footer">
    <h3 class="footer-title">Questions? Contact us.</h3>
    <ul class="links" role="list">
        <li class="link"><a href="">FAQ</a></li>
        <li class="link"><a href="">Help Center</a></li>
        <li class="link"><a href="">Acount</a></li>
        <li class="link"><a href="">Media Center</a></li>
        <li class="link"><a href="">Investor Relations</a></li>
        <li class="link"><a href="">Jobs</a></li>
        <li class="link"><a href="">Ways to Watch</a></li>
        <li class="link"><a href="">Terms of Use</a></li>
        <li class="link"><a href="">Privacy</a></li>
        <li class="link"><a href="">Cookie Preferences</a></li>
        <li class="link"><a href="">Corporate information</a></li>
        <li class="link"><a href="">Contact Us</a></li>
        <li class="link"><a href="">Speed Test</a></li>
        <li class="link"><a href="">Legal Notices</a></li>
        <li class="link"><a href="">Netflix Originals</a></li>
    </ul>
</footer>