#footer {
    color: var(--clr-footer-text);
    height: 200px;
    width: 100%;
  }
  
  #footer .footer-title {
    font-size: 1rem;
    margin-bottom: 20px;
  }
  
  #footer .links {
    height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 20px;
  }
  
  #footer .links .link {
    margin-bottom: 8px;
    line-height: 0.8;
  }
  
  #footer .links .link a {
    font-size: 0.7rem;
    text-decoration: none;
    color: var(--clr-footer-text);
  }
  
  @media screen and (min-width: 1024px) {
    #footer .links .link {
      line-height: 1;
    }
  }
  